<div class="palette">
  <h2>{{ 'lab.palette.title' | t }}</h2>
  <ul>
    @for (key of keys; track key) {
      <li>
        <button
          type="button"
          class="part"
          draggable="true"
          (dragstart)="onDragStart($event, key)"
          (click)="place.emit(key)"
          [attr.title]="lib[key].label | t"
          [attr.aria-label]="lib[key].label | t"
        >
          <svg class="thumb" viewBox="-48 -48 96 96" aria-hidden="true">
            <g
              appSymbolGlyph
              [modelKey]="lib[key].modelKey"
              [closed]="true"
              [ledBrightness]="0"
              [ledColor]="ledThumbColor(lib[key])"
            ></g>
          </svg>
          <span class="name">
            {{ lib[key].label | t }}
            @if (lib[key].teachingNote; as note) {
              <span class="note">{{ note | t }}</span>
            }
          </span>
        </button>
      </li>
    }
  </ul>
  <p class="hint">{{ 'lab.palette.dragHint' | t }}</p>
</div>
